@{
    Layout = "_Layout";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summernote with Bootstrap 4</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div id="tour_search_module"></div>
    <script src="https://module.ittour.com.ua/tour_search.jsx?id=D9466G5813540982O19195286&ver=1&type=2970"></script>
    @*<p>Site map</p>>
    <div>
        <a href="~/Login/Login">Login form</a><br>
        <a href="~/Users/UsersList">Users List</a><br>
        <a href="~/Users/Create">Create user</a><br>
        <a href="~/Users/Edit">Edit user</a><br>
        <a href="~/Users/Delete">Delete user</a><br>
        <a href="~/Articles/Articles">Articles list for visitors</a><br>
        <a href="~/Articles/ArticleDetail">ArticleDetails</a><br>
        <a href="~/Articles/ArticlesList">Articles list for editors and admins</a><br>
        <a href="~/Articles/Create">Create article</a><br>
        <a href="~/Articles/Edit">Edit article</a><br>
        <a href="~/Articles/Delete">Delete article</a><br>
    </div>*@
</body>
</html>